html {
  width: 100%;
}
nav {
  font-size: 16px;
  font-family: "Prata";
}
nav.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 75px;
  width: 100%;
  background-color: azure;
}
div.nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: inherit;
}
div.nav-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nav-item {
  padding: 10px;
}
ul.nav-links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.content-container {
  display: flex;
  flex-direction: row;
  margin: 25px;
  font-family: 'Prata';
}

.left-column-container {
  width: 40%;
  height: auto;
  /* margin: 50px; */
}
.right-column-container {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.right-column-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-image-container {
  display: flex;
  height: 250px;
}
.recipe-image-container img {
  width: 100%;
  object-fit: cover;
}
.recipe-quote p {
  text-align: center;
}
.ingredient-list-content {
  text-align: center;
  font-family: 'Poppins';
}
.ingredient-column-content {
  display: flex;
  flex-direction: row;
  text-align: left;
}
.nutrition-facts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.nutrition-facts-content {
  display: flex;
  flex-direction: row;
  border-width: 1px 0px;
  border-style: solid;
  border-color: black;
  justify-content: space-around;
  width: 100%;
  margin-left: 50px;
  margin-right: 50px;
}
