html {
  width: 100%;
}
h3 {
  margin: 0;
}
nav {
  font-size: 16px;
  font-family: "Cormorant Garamond";
}
.body {
  background-color: #f2f2f2;
}
nav.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 75px;
  width: 100%;
  background-color: #71736a;
}
div.nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: inherit;
  color: white;
  font-weight: 700;
  font-size: 20px;
}
div.nav-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nav-item {
  padding: 10px;
}
ul.nav-links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.content-container {
  display: flex;
  flex-direction: row;
  margin: 25px;
  font-family: "Cormorant Garamond";
}

.left-column-container {
  width: 40%;
  height: auto;
  /* margin: 50px; */
}
.right-column-container {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.right-column-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-image-container {
  display: flex;
  height: 350px;
}
.recipe-image-container img {
  width: 100%;
  object-fit: cover;
}
.recipe-quote p {
  text-align: center;
  font-style: italic;
  opacity: 50%;
  font-size: 20px;
}
.ingredient-title {
  font-size: 28px;
  margin-bottom: 15px;
}
.ingredient-list-content {
  text-align: center;
  font-family: "Cormorant Garamond";
}
.ingredient-column-content {
  display: flex;
  flex-direction: row;
  text-align: left;
  font-size: 20px;
}
.ingredient-column {
  margin: 0px 25px;
}
.nutrition-facts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.nutrients span {
  font-weight: 700;
}
li.nutrients {
  list-style-type: none;
}
.nutrition-facts-content {
  display: flex;
  flex-direction: row;
  border-width: 1px 0px;
  border-style: solid;
  border-color: black;
  justify-content: space-around;
  width: 100%;
  margin-left: 50px;
  margin-right: 50px;
}
.cooking-instructions-content {
  font-size: 22px;
}

.cooking-instructions-content ol li {
  margin: 20px 0px;
}
